<a href="https://colab.research.google.com/github/Vijay7542/Machine-Learning-Projects/blob/master/Copy_of_Insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
path = kagglehub.dataset_download('mirichoi0218/insurance')

print(f'Data source import complete: {path}')

Using Colab cache for faster access to the 'insurance' dataset.
Data source import complete: /kaggle/input/insurance

In [3]:
import os

os.listdir("/kaggle/input/insurance")

['insurance.csv']

In [4]:
import pandas as pd

df=pd.read_csv(os.path.join(path,"insurance.csv"))

In [5]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
df["sex"]=df["sex"].replace({"male":0,"female":1})

/tmp/ipython-input-3903829483.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["sex"]=df["sex"].replace({"male":0,"female":1})

In [7]:
df.head()

   age  sex     bmi  children smoker     region      charges
0   19    1  27.900         0    yes  southwest  16884.92400
1   18    0  33.770         1     no  southeast   1725.55230
2   28    0  33.000         3     no  southeast   4449.46200
3   33    0  22.705         0     no  northwest  21984.47061
4   32    0  28.880         0     no  northwest   3866.85520

In [8]:
import matplotlib.pyplot as plt

df["region"].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [9]:
df["smoker"]=df["smoker"].replace({"yes":0,"no":1})
df["region"]=df["region"].map({"southeast":0,"southwest":1,"northwest":2,"northeast":3})

/tmp/ipython-input-529095475.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["smoker"]=df["smoker"].replace({"yes":0,"no":1})

In [10]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       1  16884.92400
1   18    0  33.770         1       1       0   1725.55230
2   28    0  33.000         3       1       0   4449.46200
3   33    0  22.705         0       1       2  21984.47061
4   32    0  28.880         0       1       2   3866.85520

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

In [12]:
X=df.drop(columns=["charges"])
y=df.charges

In [13]:
print(X)

      age  sex     bmi  children  smoker  region
0      19    1  27.900         0       0       1
1      18    0  33.770         1       1       0
2      28    0  33.000         3       1       0
3      33    0  22.705         0       1       2
4      32    0  28.880         0       1       2
...   ...  ...     ...       ...     ...     ...
1333   50    0  30.970         3       1       2
1334   18    1  31.920         0       1       3
1335   18    1  36.850         0       1       0
1336   21    1  25.800         0       1       1
1337   61    1  29.070         0       0       2

[1338 rows x 6 columns]

In [14]:
print(y)

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [16]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [17]:
print(X_train)

[[-1.08716652 -0.99106682 -1.14087456 -0.91749963  0.50839872  0.45531212]
 [-0.80210593  1.0090137  -0.66584152  0.7436053   0.50839872 -1.32164531]
 [ 0.83699246 -0.99106682  1.52879447 -0.08694717  0.50839872 -0.43316659]
 ...
 [ 1.33584849 -0.99106682 -0.8879673  -0.91749963  0.50839872  1.34379084]
 [-0.1607196   1.0090137   2.84324666  0.7436053  -1.9669601  -0.43316659]
 [ 1.12205304 -0.99106682 -0.10179179 -0.91749963  0.50839872 -0.43316659]]

In [18]:
print(y_train)

693      2352.96845
1297     4340.44090
634      9391.34600
1022    42211.13820
178      8823.27900
           ...
1095     4561.18850
1130     8582.30230
1294    11931.12525
860     46113.51100
1126    10214.63600
Name: charges, Length: 1003, dtype: float64

In [19]:
print(y_test)

764      9095.06825
887      5272.17580
890     29330.98315
1293     9301.89355
259     33750.29180
           ...
342     13217.09450
308     11944.59435
1128    14358.36437
503     32548.34050
1197     5699.83750
Name: charges, Length: 335, dtype: float64

In [20]:
print(X_test)

[[ 0.40940157  1.0090137  -0.8879673   0.7436053   0.50839872  1.34379084]
 [-0.23198475  1.0090137  -0.08182542 -0.91749963  0.50839872  0.45531212]
 [ 1.76343937  1.0090137  -0.60344664 -0.91749963 -1.9669601   0.45531212]
 ...
 [-0.37451505 -0.99106682  0.38072864 -0.08694717  0.50839872 -0.43316659]
 [-1.44349225 -0.99106682 -0.04355656 -0.91749963 -1.9669601  -1.32164531]
 [ 0.12434098 -0.99106682  0.5055184  -0.91749963  0.50839872 -1.32164531]]

In [21]:
print(X_train.ndim,X_test.ndim,y_train.ndim,y_test.ndim)

2 2 1 1

In [22]:
import torch
X_train_tensor=torch.tensor(X_train,dtype=torch.float32)
X_test_tensor=torch.tensor(X_test,dtype=torch.float32)
y_train_tensor=torch.tensor(y_train.values,dtype=torch.float32).view(-1,1)
y_test_tensor=torch.tensor(y_test.values,dtype=torch.float32).view(-1,1)

In [23]:
print(y_train_tensor)

tensor([[ 2352.9685],
        [ 4340.4409],
        [ 9391.3457],
        ...,
        [11931.1250],
        [46113.5117],
        [10214.6357]])

In [24]:
print(y_test_tensor)

tensor([[ 9095.0684],
        [ 5272.1758],
        [29330.9824],
        [ 9301.8936],
        [33750.2930],
        [ 4536.2588],
        [ 2117.3389],
        [14210.5361],
        [ 3732.6250],
        [10264.4424],
        [18259.2168],
        [ 7256.7231],
        [ 3947.4131],
        [46151.1250],
        [48673.5586],
        [44202.6523],
        [ 9800.8887],
        [42969.8516],
        [ 8233.0977],
        [21774.3223],
        [ 5080.0962],
        [ 7441.5010],
        [ 1256.2990],
        [ 2755.0210],
        [11085.5869],
        [10923.9336],
        [12644.5889],
        [18804.7520],
        [ 9715.8408],
        [ 1131.5066],
        [15828.8213],
        [11842.6240],
        [ 2020.5522],
        [ 5693.4307],
        [ 2904.0879],
        [ 7448.4038],
        [ 2597.7791],
        [ 7337.7480],
        [23887.6621],
        [38709.1758],
        [ 4687.7969],
        [ 2643.2686],
        [11674.1299],
        [12124.9922],
        [ 4889.9995],
        [12333.8281],
        [ 3579.8286],
        [ 4391.6519],
        [42124.5156],
        [ 4463.2051],
        [13887.2041],
        [ 1719.4363],
        [28476.7344],
        [ 1708.9258],
        [10594.2256],
        [25333.3320],
        [ 3645.0894],
        [38746.3555],
        [11848.1406],
        [10564.8848],
        [13880.9492],
        [ 4753.6367],
        [27941.2871],
        [ 8017.0610],
        [23045.5664],
        [ 4133.6416],
        [17942.1055],
        [25992.8203],
        [ 3594.1709],
        [ 1682.5970],
        [ 6079.6714],
        [ 9411.0049],
        [ 8283.6807],
        [ 6338.0757],
        [ 7152.6714],
        [ 4889.0366],
        [ 4846.9199],
        [11454.0215],
        [ 4349.4619],
        [ 9101.7979],
        [ 1391.5287],
        [28101.3340],
        [ 5152.1338],
        [38511.6289],
        [44501.3984],
        [41097.1602],
        [ 4837.5825],
        [10601.6318],
        [ 8310.8389],
        [11264.5410],
        [15230.3242],
        [27037.9141],
        [23401.3066],
        [ 5031.2695],
        [38282.7500],
        [ 6875.9609],
        [19719.6953],
        [ 1880.0699],
        [18765.8750],
        [ 6402.2915],
        [ 4527.1831],
        [ 1743.2140],
        [ 5709.1646],
        [12363.5469],
        [13129.6035],
        [ 1727.5400],
        [ 7731.4272],
        [21195.8184],
        [ 1702.4553],
        [23244.7910],
        [23082.9551],
        [ 2927.0647],
        [13019.1611],
        [37701.8750],
        [ 9778.3477],
        [ 1980.0699],
        [30259.9961],
        [22478.5996],
        [ 6313.7588],
        [ 2789.0574],
        [ 5594.8457],
        [ 7261.7412],
        [11396.9004],
        [ 1986.9333],
        [ 4719.7363],
        [ 7749.1562],
        [ 7345.7266],
        [ 9288.0264],
        [12244.5312],
        [ 1837.2819],
        [ 3972.9248],
        [ 5934.3799],
        [ 5836.5205],
        [ 7935.2910],
        [ 5649.7148],
        [12347.1719],
        [12404.8789],
        [22144.0312],
        [42983.4570],
        [37270.1523],
        [ 5267.8184],
        [ 9866.3047],
        [ 2322.6218],
        [33471.9727],
        [ 2137.6536],
        [23306.5469],
        [ 5261.4692],
        [ 3761.2920],
        [11436.7383],
        [ 4751.0698],
        [46661.4414],
        [ 2690.1138],
        [ 1146.7966],
        [37607.5273],
        [ 6373.5571],
        [ 4518.8262],
        [13555.0049],
        [ 8547.6914],
        [34439.8555],
        [39125.3320],
        [13607.3691],
        [ 2710.8286],
        [14988.4316],
        [ 2396.0959],
        [ 3591.4800],
        [ 7162.0122],
        [48824.4492],
        [43578.9375],
        [39556.4961],
        [ 2632.9919],
        [ 9182.1699],
        [ 6238.2979],
        [ 5757.4136],
        [ 4239.8926],
        [ 2154.3611],
        [21978.6777],
        [16297.8457],
        [13831.1152],
        [32734.1855],
        [11830.6074],
        [29523.1660],
        [ 3167.4558],
        [ 8428.0693],
        [ 5012.4712],
        [ 5209.5786],
        [ 2855.4375],
        [20277.8066],
        [ 3554.2029],
        [ 8569.8613],
        [10594.5020],
        [ 3597.5959],
        [ 7323.7349],
        [ 2731.9121],
        [38711.0000],
        [12981.3457],
        [ 9283.5615],
        [ 2709.1118],
        [12096.6514],
        [ 2198.1899],
        [ 8932.0840],
        [ 3176.2876],
        [24393.6230],
        [ 4266.1660],
        [22493.6602],
        [17085.2676],
        [16577.7793],
        [ 8827.2100],
        [ 4296.2710],
        [ 7804.1606],
        [ 3208.7871],
        [12957.1182],
        [22192.4375],
        [ 9432.9258],
        [17043.3418],
        [ 6593.5083],
        [ 4137.5225],
        [ 4779.6025],
        [14001.2871],
        [12629.8965],
        [ 5245.2271],
        [ 2404.7339],
        [ 6948.7007],
        [ 6435.6235],
        [42560.4297],
        [ 2055.3250],
        [34672.1484],
        [ 1731.6770],
        [ 1639.5631],
        [ 9377.9043],
        [10977.2061],
        [ 1534.3044],
        [ 9644.2529],
        [ 4529.4771],
        [37829.7227],
        [ 9991.0381],
        [ 8125.7847],
        [ 3877.3042],
        [ 5979.7310],
        [43896.3750],
        [ 1674.6323],
        [13204.2861],
        [44585.4570],
        [ 3021.8091],
        [ 3392.9768],
        [ 1632.0363],
        [ 2699.5684],
        [20177.6719],
        [ 4076.4971],
        [12592.5342],
        [ 1621.3402],
        [ 1875.3440],
        [ 7196.8672],
        [ 3161.4541],
        [12029.2871],
        [ 2719.2798],
        [18218.1621],
        [12146.9707],
        [ 3292.5298],
        [ 8688.8584],
        [ 6113.2310],
        [ 8059.6792],
        [13415.0381],
        [18246.4961],
        [47055.5312],
        [12222.8984],
        [ 6067.1270],
        [63770.4297],
        [ 9872.7012],
        [ 9193.8389],
        [ 8534.6719],
        [27117.9941],
        [ 8596.8281],
        [12475.3516],
        [13405.3906],
        [ 2150.4690],
        [13747.8721],
        [ 6610.1099],
        [39047.2852],
        [27375.9043],
        [ 9048.0273],
        [ 8988.1592],
        [14901.5166],
        [10096.9697],
        [ 8835.2646],
        [38415.4727],
        [ 2721.3208],
        [ 9877.6074],
        [47269.8555],
        [ 4237.1265],
        [ 2534.3938],
        [ 2205.9807],
        [10965.4463],
        [15006.5791],
        [10736.8711],
        [ 9788.8662],
        [10422.9170],
        [ 9304.7021],
        [ 3378.9099],
        [ 2155.6814],
        [38126.2461],
        [35491.6406],
        [ 6356.2705],
        [24059.6797],
        [16450.8945],
        [12925.8857],
        [36950.2578],
        [ 2459.7202],
        [46889.2617],
        [ 5124.1885],
        [14133.0381],
        [ 6414.1782],
        [ 1720.3538],
        [15817.9854],
        [13462.5195],
        [ 2103.0801],
        [12105.3203],
        [20781.4883],
        [12235.8389],
        [41949.2422],
        [12643.3779],
        [21223.6758],
        [ 7954.5171],
        [15170.0693],
        [ 3659.3459],
        [ 8232.6387],
        [ 8027.9678],
        [13919.8232],
        [10791.9600],
        [17878.9004],
        [10601.4121],
        [13217.0947],
        [11944.5947],
        [14358.3643],
        [32548.3398],
        [ 5699.8374]])

In [25]:
print(y_train_tensor)
print(y_train_tensor.shape)

tensor([[ 2352.9685],
        [ 4340.4409],
        [ 9391.3457],
        ...,
        [11931.1250],
        [46113.5117],
        [10214.6357]])
torch.Size([1003, 1])

In [26]:
print(X_train_tensor)
print(X_train_tensor.shape)

tensor([[-1.0872, -0.9911, -1.1409, -0.9175,  0.5084,  0.4553],
        [-0.8021,  1.0090, -0.6658,  0.7436,  0.5084, -1.3216],
        [ 0.8370, -0.9911,  1.5288, -0.0869,  0.5084, -0.4332],
        ...,
        [ 1.3358, -0.9911, -0.8880, -0.9175,  0.5084,  1.3438],
        [-0.1607,  1.0090,  2.8432,  0.7436, -1.9670, -0.4332],
        [ 1.1221, -0.9911, -0.1018, -0.9175,  0.5084, -0.4332]])
torch.Size([1003, 6])

In [27]:
print(y_test_tensor)
print(y_test_tensor.shape)

tensor([[ 9095.0684],
        [ 5272.1758],
        [29330.9824],
        [ 9301.8936],
        [33750.2930],
        [ 4536.2588],
        [ 2117.3389],
        [14210.5361],
        [ 3732.6250],
        [10264.4424],
        [18259.2168],
        [ 7256.7231],
        [ 3947.4131],
        [46151.1250],
        [48673.5586],
        [44202.6523],
        [ 9800.8887],
        [42969.8516],
        [ 8233.0977],
        [21774.3223],
        [ 5080.0962],
        [ 7441.5010],
        [ 1256.2990],
        [ 2755.0210],
        [11085.5869],
        [10923.9336],
        [12644.5889],
        [18804.7520],
        [ 9715.8408],
        [ 1131.5066],
        [15828.8213],
        [11842.6240],
        [ 2020.5522],
        [ 5693.4307],
        [ 2904.0879],
        [ 7448.4038],
        [ 2597.7791],
        [ 7337.7480],
        [23887.6621],
        [38709.1758],
        [ 4687.7969],
        [ 2643.2686],
        [11674.1299],
        [12124.9922],
        [ 4889.9995],
        [12333.8281],
        [ 3579.8286],
        [ 4391.6519],
        [42124.5156],
        [ 4463.2051],
        [13887.2041],
        [ 1719.4363],
        [28476.7344],
        [ 1708.9258],
        [10594.2256],
        [25333.3320],
        [ 3645.0894],
        [38746.3555],
        [11848.1406],
        [10564.8848],
        [13880.9492],
        [ 4753.6367],
        [27941.2871],
        [ 8017.0610],
        [23045.5664],
        [ 4133.6416],
        [17942.1055],
        [25992.8203],
        [ 3594.1709],
        [ 1682.5970],
        [ 6079.6714],
        [ 9411.0049],
        [ 8283.6807],
        [ 6338.0757],
        [ 7152.6714],
        [ 4889.0366],
        [ 4846.9199],
        [11454.0215],
        [ 4349.4619],
        [ 9101.7979],
        [ 1391.5287],
        [28101.3340],
        [ 5152.1338],
        [38511.6289],
        [44501.3984],
        [41097.1602],
        [ 4837.5825],
        [10601.6318],
        [ 8310.8389],
        [11264.5410],
        [15230.3242],
        [27037.9141],
        [23401.3066],
        [ 5031.2695],
        [38282.7500],
        [ 6875.9609],
        [19719.6953],
        [ 1880.0699],
        [18765.8750],
        [ 6402.2915],
        [ 4527.1831],
        [ 1743.2140],
        [ 5709.1646],
        [12363.5469],
        [13129.6035],
        [ 1727.5400],
        [ 7731.4272],
        [21195.8184],
        [ 1702.4553],
        [23244.7910],
        [23082.9551],
        [ 2927.0647],
        [13019.1611],
        [37701.8750],
        [ 9778.3477],
        [ 1980.0699],
        [30259.9961],
        [22478.5996],
        [ 6313.7588],
        [ 2789.0574],
        [ 5594.8457],
        [ 7261.7412],
        [11396.9004],
        [ 1986.9333],
        [ 4719.7363],
        [ 7749.1562],
        [ 7345.7266],
        [ 9288.0264],
        [12244.5312],
        [ 1837.2819],
        [ 3972.9248],
        [ 5934.3799],
        [ 5836.5205],
        [ 7935.2910],
        [ 5649.7148],
        [12347.1719],
        [12404.8789],
        [22144.0312],
        [42983.4570],
        [37270.1523],
        [ 5267.8184],
        [ 9866.3047],
        [ 2322.6218],
        [33471.9727],
        [ 2137.6536],
        [23306.5469],
        [ 5261.4692],
        [ 3761.2920],
        [11436.7383],
        [ 4751.0698],
        [46661.4414],
        [ 2690.1138],
        [ 1146.7966],
        [37607.5273],
        [ 6373.5571],
        [ 4518.8262],
        [13555.0049],
        [ 8547.6914],
        [34439.8555],
        [39125.3320],
        [13607.3691],
        [ 2710.8286],
        [14988.4316],
        [ 2396.0959],
        [ 3591.4800],
        [ 7162.0122],
        [48824.4492],
        [43578.9375],
        [39556.4961],
        [ 2632.9919],
        [ 9182.1699],
        [ 6238.2979],
        [ 5757.4136],
        [ 4239.8926],
        [ 2154.3611],
        [21978.6777],
        [16297.8457],
        [13831.1152],
        [32734.1855],
        [11830.6074],
        [29523.1660],
        [ 3167.4558],
        [ 8428.0693],
        [ 5012.4712],
        [ 5209.5786],
        [ 2855.4375],
        [20277.8066],
        [ 3554.2029],
        [ 8569.8613],
        [10594.5020],
        [ 3597.5959],
        [ 7323.7349],
        [ 2731.9121],
        [38711.0000],
        [12981.3457],
        [ 9283.5615],
        [ 2709.1118],
        [12096.6514],
        [ 2198.1899],
        [ 8932.0840],
        [ 3176.2876],
        [24393.6230],
        [ 4266.1660],
        [22493.6602],
        [17085.2676],
        [16577.7793],
        [ 8827.2100],
        [ 4296.2710],
        [ 7804.1606],
        [ 3208.7871],
        [12957.1182],
        [22192.4375],
        [ 9432.9258],
        [17043.3418],
        [ 6593.5083],
        [ 4137.5225],
        [ 4779.6025],
        [14001.2871],
        [12629.8965],
        [ 5245.2271],
        [ 2404.7339],
        [ 6948.7007],
        [ 6435.6235],
        [42560.4297],
        [ 2055.3250],
        [34672.1484],
        [ 1731.6770],
        [ 1639.5631],
        [ 9377.9043],
        [10977.2061],
        [ 1534.3044],
        [ 9644.2529],
        [ 4529.4771],
        [37829.7227],
        [ 9991.0381],
        [ 8125.7847],
        [ 3877.3042],
        [ 5979.7310],
        [43896.3750],
        [ 1674.6323],
        [13204.2861],
        [44585.4570],
        [ 3021.8091],
        [ 3392.9768],
        [ 1632.0363],
        [ 2699.5684],
        [20177.6719],
        [ 4076.4971],
        [12592.5342],
        [ 1621.3402],
        [ 1875.3440],
        [ 7196.8672],
        [ 3161.4541],
        [12029.2871],
        [ 2719.2798],
        [18218.1621],
        [12146.9707],
        [ 3292.5298],
        [ 8688.8584],
        [ 6113.2310],
        [ 8059.6792],
        [13415.0381],
        [18246.4961],
        [47055.5312],
        [12222.8984],
        [ 6067.1270],
        [63770.4297],
        [ 9872.7012],
        [ 9193.8389],
        [ 8534.6719],
        [27117.9941],
        [ 8596.8281],
        [12475.3516],
        [13405.3906],
        [ 2150.4690],
        [13747.8721],
        [ 6610.1099],
        [39047.2852],
        [27375.9043],
        [ 9048.0273],
        [ 8988.1592],
        [14901.5166],
        [10096.9697],
        [ 8835.2646],
        [38415.4727],
        [ 2721.3208],
        [ 9877.6074],
        [47269.8555],
        [ 4237.1265],
        [ 2534.3938],
        [ 2205.9807],
        [10965.4463],
        [15006.5791],
        [10736.8711],
        [ 9788.8662],
        [10422.9170],
        [ 9304.7021],
        [ 3378.9099],
        [ 2155.6814],
        [38126.2461],
        [35491.6406],
        [ 6356.2705],
        [24059.6797],
        [16450.8945],
        [12925.8857],
        [36950.2578],
        [ 2459.7202],
        [46889.2617],
        [ 5124.1885],
        [14133.0381],
        [ 6414.1782],
        [ 1720.3538],
        [15817.9854],
        [13462.5195],
        [ 2103.0801],
        [12105.3203],
        [20781.4883],
        [12235.8389],
        [41949.2422],
        [12643.3779],
        [21223.6758],
        [ 7954.5171],
        [15170.0693],
        [ 3659.3459],
        [ 8232.6387],
        [ 8027.9678],
        [13919.8232],
        [10791.9600],
        [17878.9004],
        [10601.4121],
        [13217.0947],
        [11944.5947],
        [14358.3643],
        [32548.3398],
        [ 5699.8374]])
torch.Size([335, 1])

In [28]:
print(X_test_tensor)
print(X_test_tensor.shape)

tensor([[ 0.4094,  1.0090, -0.8880,  0.7436,  0.5084,  1.3438],
        [-0.2320,  1.0090, -0.0818, -0.9175,  0.5084,  0.4553],
        [ 1.7634,  1.0090, -0.6034, -0.9175, -1.9670,  0.4553],
        ...,
        [-0.3745, -0.9911,  0.3807, -0.0869,  0.5084, -0.4332],
        [-1.4435, -0.9911, -0.0436, -0.9175, -1.9670, -1.3216],
        [ 0.1243, -0.9911,  0.5055, -0.9175,  0.5084, -1.3216]])
torch.Size([335, 6])

In [29]:
import torch
import torch.nn as nn
import torch.optim as optim

class simpleNN(nn.Module):
  def __init__(self,input_size):
    super(simpleNN,self).__init__()
    self.fc1=nn.Linear(input_size,64)
    self.relu1=nn.ReLU()
    self.fc2=nn.Linear(64,128)
    self.relu2=nn.ReLU()
    self.fc3=nn.Linear(128,256)
    self.relu3=nn.ReLU()
    self.fc4=nn.Linear(256,1)
  def forward(self,x):
    x=self.fc1(x)
    x=self.relu1(x)
    x=self.fc2(x)
    x=self.relu2(x)
    x=self.fc3(x)
    x=self.relu3(x)
    x=self.fc4(x)
    return x

In [30]:
model_func=simpleNN(input_size=6)

In [31]:
model_func

simpleNN(
  (fc1): Linear(in_features=6, out_features=64, bias=True)
  (relu1): ReLU()
  (fc2): Linear(in_features=64, out_features=128, bias=True)
  (relu2): ReLU()
  (fc3): Linear(in_features=128, out_features=256, bias=True)
  (relu3): ReLU()
  (fc4): Linear(in_features=256, out_features=1, bias=True)
)

In [32]:
loss_fn=nn.MSELoss()
optimizer=optim.Adam(model_func.parameters(),lr=0.001)

In [33]:
  epoch=1000

  for e in range(epoch):
    model_func.train()
    optimizer.zero_grad()
    predictions=model_func(X_train_tensor)
    loss=loss_fn(predictions,y_train_tensor)
    loss.backward()
    optimizer.step()

    if (e+1)%50==0:
      print(f" The epoch [{e+1}/{epoch}] having loss {loss.item():.4f}")

 The epoch [50/1000] having loss 317974208.0000
 The epoch [100/1000] having loss 263664656.0000
 The epoch [150/1000] having loss 98391264.0000
 The epoch [200/1000] having loss 50405788.0000
 The epoch [250/1000] having loss 37465212.0000
 The epoch [300/1000] having loss 33422716.0000
 The epoch [350/1000] having loss 31895432.0000
 The epoch [400/1000] having loss 30909354.0000
 The epoch [450/1000] having loss 30068508.0000
 The epoch [500/1000] having loss 29302016.0000
 The epoch [550/1000] having loss 28588054.0000
 The epoch [600/1000] having loss 27941606.0000
 The epoch [650/1000] having loss 27335850.0000
 The epoch [700/1000] having loss 26770108.0000
 The epoch [750/1000] having loss 26251546.0000
 The epoch [800/1000] having loss 25764020.0000
 The epoch [850/1000] having loss 25301152.0000
 The epoch [900/1000] having loss 24861172.0000
 The epoch [950/1000] having loss 24445322.0000
 The epoch [1000/1000] having loss 24056904.0000

In [34]:
model_func.eval()
y_pred=model_func(X_test_tensor).detach().numpy()
y_pred

array([[10395.12  ],
       [ 5480.1045],
       [34692.36  ],
       [ 9778.172 ],
       [28197.7   ],
       [ 8300.5205],
       [ 3551.028 ],
       [15587.087 ],
       [ 6408.1   ],
       [10878.581 ],
       [21779.125 ],
       [ 7473.2847],
       [ 4576.8784],
       [49012.74  ],
       [50540.9   ],
       [45006.676 ],
       [12779.066 ],
       [41233.844 ],
       [ 9686.338 ],
       [28015.805 ],
       [ 6575.555 ],
       [ 7661.9214],
       [ 1421.7296],
       [ 6950.038 ],
       [11876.455 ],
       [12598.147 ],
       [13422.896 ],
       [ 6893.394 ],
       [11027.177 ],
       [ 1918.0162],
       [ 9259.691 ],
       [12496.862 ],
       [ 2003.9122],
       [ 7546.8677],
       [ 2648.2935],
       [10707.563 ],
       [ 3443.8914],
       [ 7758.52  ],
       [27452.654 ],
       [37102.383 ],
       [ 6732.3345],
       [ 2824.2227],
       [12644.449 ],
       [13214.194 ],
       [ 5414.0845],
       [13549.366 ],
       [ 5251.478 ],
       [ 5376.7993],
       [40177.97  ],
       [ 5623.4565],
       [14908.21  ],
       [ 2347.0645],
       [ 9048.416 ],
       [ 3241.879 ],
       [12689.028 ],
       [11988.413 ],
       [ 4628.1465],
       [35111.562 ],
       [12405.075 ],
       [12343.253 ],
       [14461.415 ],
       [ 6916.712 ],
       [15927.286 ],
       [ 8614.4795],
       [11647.069 ],
       [ 4865.5825],
       [21935.742 ],
       [12070.2   ],
       [ 4804.9556],
       [ 3908.232 ],
       [ 8296.83  ],
       [11630.272 ],
       [ 8985.62  ],
       [ 6839.9463],
       [ 8719.215 ],
       [ 5861.2593],
       [ 7269.442 ],
       [12435.192 ],
       [ 4148.3984],
       [ 9996.946 ],
       [ 2238.5928],
       [34424.363 ],
       [ 5357.154 ],
       [36779.566 ],
       [53556.477 ],
       [36800.473 ],
       [ 5340.706 ],
       [11213.914 ],
       [ 8979.522 ],
       [12659.972 ],
       [19245.328 ],
       [30992.953 ],
       [28967.332 ],
       [ 6272.928 ],
       [36988.254 ],
       [ 7021.896 ],
       [27887.07  ],
       [ 1901.1722],
       [20848.498 ],
       [ 8542.922 ],
       [ 5198.819 ],
       [ 2089.5337],
       [ 8495.974 ],
       [13788.818 ],
       [14182.915 ],
       [ 2777.191 ],
       [ 8519.983 ],
       [24793.668 ],
       [ 3468.1663],
       [26760.748 ],
       [ 1702.3827],
       [ 9501.339 ],
       [14713.018 ],
       [32991.465 ],
       [11453.557 ],
       [ 2034.6141],
       [13986.417 ],
       [27849.623 ],
       [ 6900.303 ],
       [ 2916.2773],
       [ 8074.9526],
       [ 7957.6426],
       [15469.196 ],
       [ 2999.719 ],
       [ 5868.9   ],
       [ 8614.07  ],
       [ 7777.2744],
       [10519.737 ],
       [13102.388 ],
       [ 5544.1353],
       [ 5039.57  ],
       [ 6650.131 ],
       [ 5959.988 ],
       [11271.657 ],
       [ 5407.842 ],
       [14009.075 ],
       [ 5869.6475],
       [31856.506 ],
       [43876.676 ],
       [32191.03  ],
       [ 5878.5366],
       [11812.745 ],
       [ 3278.631 ],
       [13009.144 ],
       [ 3552.0002],
       [28572.012 ],
       [ 5315.6523],
       [ 4104.7812],
       [13418.512 ],
       [ 4720.3228],
       [44778.906 ],
       [ 2993.3853],
       [ 4528.323 ],
       [34171.477 ],
       [ 8070.931 ],
       [ 5891.886 ],
       [14603.638 ],
       [ 9780.667 ],
       [29697.848 ],
       [35169.96  ],
       [15337.44  ],
       [ 3437.4895],
       [15764.997 ],
       [ 3745.0867],
       [ 3753.772 ],
       [ 8226.828 ],
       [47618.766 ],
       [38006.94  ],
       [34524.945 ],
       [ 2678.9211],
       [10951.509 ],
       [ 6199.726 ],
       [11770.938 ],
       [ 4382.093 ],
       [ 3094.6672],
       [27659.69  ],
       [22733.832 ],
       [16673.676 ],
       [14235.665 ],
       [12902.433 ],
       [36001.203 ],
       [ 6039.567 ],
       [ 9203.753 ],
       [ 4480.2964],
       [ 6725.8945],
       [ 3044.3298],
       [ 5247.695 ],
       [ 4290.2144],
       [12704.204 ],
       [11493.54  ],
       [ 4590.3735],
       [ 4223.4663],
       [ 4491.5757],
       [37068.805 ],
       [15617.801 ],
       [10025.268 ],
       [ 3590.6252],
       [13394.851 ],
       [ 4061.209 ],
       [10413.741 ],
       [ 4654.3823],
       [31422.418 ],
       [ 8799.866 ],
       [ 2909.3223],
       [22471.193 ],
       [21766.707 ],
       [ 9583.317 ],
       [ 6059.345 ],
       [10393.91  ],
       [ 5173.4004],
       [14673.538 ],
       [14067.518 ],
       [20167.277 ],
       [24031.926 ],
       [ 7968.739 ],
       [ 5872.487 ],
       [ 5851.1436],
       [15443.032 ],
       [14605.513 ],
       [ 5174.6597],
       [ 3207.323 ],
       [ 8584.74  ],
       [13112.784 ],
       [42684.492 ],
       [ 2428.1228],
       [30424.86  ],
       [ 4182.8896],
       [ 2046.7021],
       [10662.629 ],
       [15081.929 ],
       [ 2914.9314],
       [11316.815 ],
       [ 5424.928 ],
       [29306.139 ],
       [11600.96  ],
       [10221.69  ],
       [ 3929.723 ],
       [ 6505.8794],
       [44371.707 ],
       [ 2431.14  ],
       [14155.418 ],
       [35514.39  ],
       [ 3286.226 ],
       [ 3848.7185],
       [ 2374.4739],
       [ 2599.8977],
       [ 4764.418 ],
       [ 3859.898 ],
       [20379.225 ],
       [ 4085.0212],
       [ 2048.3564],
       [ 7902.8823],
       [ 4518.2163],
       [12972.825 ],
       [ 3655.5447],
       [ 3070.5674],
       [13424.722 ],
       [ 3543.18  ],
       [ 9532.514 ],
       [ 9737.642 ],
       [ 8861.2295],
       [14484.718 ],
       [26909.756 ],
       [44686.703 ],
       [13024.358 ],
       [ 6995.428 ],
       [55430.227 ],
       [10385.044 ],
       [10242.214 ],
       [ 9774.046 ],
       [11808.21  ],
       [10809.013 ],
       [13366.749 ],
       [16408.742 ],
       [ 3916.8618],
       [16257.017 ],
       [11321.082 ],
       [36153.18  ],
       [ 6715.818 ],
       [10770.12  ],
       [ 9567.394 ],
       [18687.168 ],
       [11488.78  ],
       [ 9145.638 ],
       [34684.543 ],
       [ 3955.1904],
       [11073.251 ],
       [49900.08  ],
       [ 5275.721 ],
       [ 3476.078 ],
       [ 4436.517 ],
       [12281.819 ],
       [13930.888 ],
       [14821.546 ],
       [11277.067 ],
       [11410.273 ],
       [10818.896 ],
       [ 5564.5493],
       [ 3396.9539],
       [39442.96  ],
       [30595.61  ],
       [11642.036 ],
       [ 4746.697 ],
       [20831.219 ],
       [14321.371 ],
       [35594.89  ],
       [ 4508.4507],
       [43561.746 ],
       [ 8000.6587],
       [ 2024.9493],
       [ 7024.1216],
       [ 2274.7478],
       [19818.363 ],
       [14099.6455],
       [ 3409.4724],
       [13345.823 ],
       [12194.144 ],
       [13408.667 ],
       [41737.125 ],
       [13706.813 ],
       [26841.8   ],
       [ 8657.804 ],
       [17706.242 ],
       [ 3360.0037],
       [ 9744.403 ],
       [ 8477.584 ],
       [15542.437 ],
       [12114.015 ],
       [ 8508.165 ],
       [12706.83  ],
       [14276.05  ],
       [13149.749 ],
       [ 4296.1777],
       [26200.742 ],
       [ 6887.136 ]], dtype=float32)

In [35]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np
mse=mean_squared_error(y_pred,y_test_tensor.numpy())
rmse=np.sqrt(mse)
mae=mean_absolute_error(y_pred,y_test_tensor.numpy())
r2_score=r2_score(y_pred,y_test_tensor.numpy())

print("mse",mse)
print("rmse",rmse)
print("mae",mae)
print("r2_score",r2_score)

mse 23365140.0
rmse 4833.750096974398
mae 2907.308349609375
r2_score 0.8238157033920288

In [36]:
from sklearn.preprocessing import OneHotEncoder
import kagglehub

encoder=OneHotEncoder()

path=kagglehub.dataset_download("mirichoi0218/insurance")

print("Dataset path:",path)

Using Colab cache for faster access to the 'insurance' dataset.
Dataset path: /kaggle/input/insurance

In [37]:
import os
print(os.listdir("/kaggle/input/insurance"))

['insurance.csv']

In [38]:
import pandas as pd

df=pd.read_csv(os.path.join(path,"insurance.csv"))

In [39]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [40]:
encoded=encoder.fit_transform(df[["sex"]]).toarray()

In [41]:
df1=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())
df1

      sex_female  sex_male
0            1.0       0.0
1            0.0       1.0
2            0.0       1.0
3            0.0       1.0
4            0.0       1.0
...          ...       ...
1333         0.0       1.0
1334         1.0       0.0
1335         1.0       0.0
1336         1.0       0.0
1337         1.0       0.0

[1338 rows x 2 columns]

In [42]:
df=pd.concat([df,df1],axis=1)
df.head()

,age,sex,bmi,children,smoker,region,charges,sex_female,sex_male
0,19,female,27.900,0,yes,southwest,16884.92400,1.0,0.0
1,18,male,33.770,1,no,southeast,1725.55230,0.0,1.0
2,28,male,33.000,3,no,southeast,4449.46200,0.0,1.0
3,33,male,22.705,0,no,northwest,21984.47061,0.0,1.0
4,32,male,28.880,0,no,northwest,3866.85520,0.0,1.0

In [43]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()
encoded=encoder.fit_transform(df["smoker"])

In [44]:
df2=pd.DataFrame(encoded,columns=["smoker"])
df2

      smoker
0          1
1          0
2          0
3          0
4          0
...      ...
1333       0
1334       0
1335       0
1336       0
1337       1

[1338 rows x 1 columns]

In [45]:


df=pd.concat([df,df2],axis=1)

In [46]:
from sklearn.preprocessing import OrdinalEncoder

encoder=OrdinalEncoder(categories=[["southwest","southeast","northwest","northeast"]])

In [47]:
df.head()

,age,sex,bmi,children,smoker,region,charges,sex_female,sex_male,smoker
0,19,female,27.900,0,yes,southwest,16884.92400,1.0,0.0,1
1,18,male,33.770,1,no,southeast,1725.55230,0.0,1.0,0
2,28,male,33.000,3,no,southeast,4449.46200,0.0,1.0,0
3,33,male,22.705,0,no,northwest,21984.47061,0.0,1.0,0
4,32,male,28.880,0,no,northwest,3866.85520,0.0,1.0,0

In [48]:
encoded=encoder.fit_transform(df[["region"]])

In [49]:
pd.DataFrame(encoded,columns=["region_en"])

      region_en
0           0.0
1           1.0
2           1.0
3           2.0
4           2.0
...         ...
1333        2.0
1334        3.0
1335        1.0
1336        0.0
1337        2.0

[1338 rows x 1 columns]

In [50]:
df.drop(columns=["smoker"],axis=1)

,age,sex,bmi,children,region,charges,sex_female,sex_male
0,19,female,27.900,0,southwest,16884.92400,1.0,0.0
1,18,male,33.770,1,southeast,1725.55230,0.0,1.0
2,28,male,33.000,3,southeast,4449.46200,0.0,1.0
3,33,male,22.705,0,northwest,21984.47061,0.0,1.0
4,32,male,28.880,0,northwest,3866.85520,0.0,1.0
...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,northwest,10600.54830,0.0,1.0
1334,18,female,31.920,0,northeast,2205.98080,1.0,0.0
1335,18,female,36.850,0,southeast,1629.83350,1.0,0.0
1336,21,female,25.800,0,southwest,2007.94500,1.0,0.0
1337,61,female,29.070,0,northwest,29141.36030,1.0,0.0

In [51]:
!pip install streamlit pyngrok

Collecting streamlit
  Downloading streamlit-1.53.1-py3-none-any.whl.metadata (10 kB)
Collecting pyngrok
  Downloading pyngrok-7.5.0-py3-none-any.whl.metadata (8.1 kB)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<7,>=4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=5.5 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.2.4)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (8.3.1)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.12/dist-packages (from streamlit) (25.0)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<13,>=7.1.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in /usr/local/lib/python3.12/dist-packages (from streamlit) (5.29.5)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.12/dist-packages (from streamlit) (2.32.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.10.0 in /usr/local/lib/python3.12/dist-packages (from streamlit) (4.15.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.12/dist-packages (from streamlit) (3.1.46)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /usr/local/lib/python3.12/dist-packages (from streamlit) (6.5.1)
Requirement already satisfied: PyYAML>=5.1 in /usr/local/lib/python3.12/dist-packages (from pyngrok) (6.0.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (4.26.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.12/dist-packages (from altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (2.15.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.12/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.27->streamlit) (2026.1.4)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.12/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<7,>=4.0->streamlit) (0.30.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.53.1-py3-none-any.whl (9.1 MB)
    9.1/9.1 MB 61.4 MB/s eta 0:00:00
Downloading pyngrok-7.5.0-py3-none-any.whl (24 kB)
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
    6.9/6.9 MB 101.4 MB/s eta 0:00:00
Installing collected packages: pyngrok, pydeck, streamlit
Successfully installed pydeck-0.9.1 pyngrok-7.5.0 streamlit-1.53.1

In [52]:
from pyngrok import ngrok

ngrok.set_auth_token("YOUR_NGROK_AUTH_TOKEN")

In [53]:
%%writefile README.MD

Writing README.MD

In [54]:
%%writefile app.py
import streamlit as st

st.title("Streamlit from Google Colab")
st.write("Yes! Streamlit is running from Colab.")

Writing app.py

In [55]:
from google.colab import files
uploaded = files.upload()

KeyboardInterrupt:

In [ ]:
%%writefile README.md


![My Image](Deep Learning.png)

In [ ]:
!cat README.md

In [ ]:
from IPython.display import Markdown

with open("README.md", "r") as f:
    display(Markdown(f.read()))

In [ ]:
import os

os.path.exists("Deep Learning.png")

In [58]:
import pandas as pd

df=pd.read_csv("Churn_Modelling.csv")

In [59]:
df.drop(columns=["RowNumber","CustomerId","Surname"],axis=1,inplace=True)

In [60]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.head()

In [61]:
df["Geography"].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [62]:
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

one_hot_encoder=OneHotEncoder()
encoded_geography=one_hot_encoder.fit_transform(df[["Geography"]]).toarray()
df1=pd.DataFrame(encoded_geography,columns=one_hot_encoder.get_feature_names_out())

In [63]:
df=pd.concat([df,df1],axis=1)

In [ ]:
df.head()

In [64]:
Label_encoder=LabelEncoder()
encoded_gender=Label_encoder.fit_transform(df["Gender"])
df2=pd.DataFrame(encoded_gender,columns=["Gender_en"])

In [65]:
df2.Gender_en.value_counts()

Gender_en
1    5457
0    4543
Name: count, dtype: int64

In [66]:
df=pd.concat([df,df2],axis=1)

In [67]:
df.drop(["Geography","Gender"],axis=1,inplace=True)

In [68]:
X=df.drop("Exited",axis=1)
y=df["Exited"]

In [69]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [70]:
print(X_train)

      CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
9254          686   32       6       0.00              2          1
1561          632   42       4  119624.60              2          1
1670          559   24       3  114739.92              1          1
6087          561   27       9  135637.00              1          1
6669          517   56       9  142147.32              1          0
...           ...  ...     ...        ...            ...        ...
5734          768   54       8   69712.74              1          1
5191          682   58       1       0.00              1          1
5390          735   38       1       0.00              3          0
860           667   43       8  190227.46              1          1
7270          697   51       1  147910.30              1          1

      IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
9254               1        179093.26               1.0                0.0
1561               1        195978.86               0.0                1.0
1670               0         85891.02               0.0                0.0
6087               0        153080.40               1.0                0.0
6669               0         39488.04               1.0                0.0
...              ...              ...               ...                ...
5734               1         69381.05               1.0                0.0
5191               1           706.50               1.0                0.0
5390               0         92220.12               1.0                0.0
860                0         97508.04               1.0                0.0
7270               1         53581.14               0.0                1.0

      Geography_Spain  Gender_en
9254              0.0          1
1561              0.0          1
1670              1.0          1
6087              0.0          0
6669              0.0          1
...               ...        ...
5734              0.0          1
5191              0.0          0
5390              0.0          0
860               0.0          1
7270              0.0          1

[8000 rows x 12 columns]

In [71]:
print("Samples for training",X_train.shape[0])
print("Sample for testing",X_test.shape[0])

Samples for training 8000
Sample for testing 2000

In [72]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [73]:
print(X_train)

[[ 0.35649971 -0.6557859   0.34567966 ... -0.57946723 -0.57638802
   0.91324755]
 [-0.20389777  0.29493847 -0.3483691  ...  1.72572313 -0.57638802
   0.91324755]
 [-0.96147213 -1.41636539 -0.69539349 ... -0.57946723  1.73494238
   0.91324755]
 ...
 [ 0.86500853 -0.08535128 -1.38944225 ... -0.57946723 -0.57638802
  -1.09499335]
 [ 0.15932282  0.3900109   1.03972843 ... -0.57946723 -0.57638802
   0.91324755]
 [ 0.47065475  1.15059039 -1.38944225 ...  1.72572313 -0.57638802
   0.91324755]]

In [74]:
import torch
import torch.nn as nn
import torch.optim as optim

class ChurnANN(nn.Module):
  def __init__(self,input_size):
    super(ChurnANN,self).__init__()
    self.fc1=nn.Linear(input_size,32)
    self.relu1=nn.ReLU()
    self.fc2=nn.Linear(32,16)
    self.relu2=nn.ReLU()
    self.fc3=nn.Linear(16,8)
    self.relu3=nn.ReLU()
    self.output=nn.Linear(8,1)
    self.sigmoid=nn.Sigmoid()
  def forward(self,x):
    x=self.relu1(self.fc1(x))
    x=self.relu2(self.fc2(x))
    x=self.relu3(self.fc3(x))
    x=self.sigmoid(self.output(x))
    return x

In [75]:
model=ChurnANN(input_size=12)

In [76]:
print(model)

ChurnANN(
  (fc1): Linear(in_features=12, out_features=32, bias=True)
  (relu1): ReLU()
  (fc2): Linear(in_features=32, out_features=16, bias=True)
  (relu2): ReLU()
  (fc3): Linear(in_features=16, out_features=8, bias=True)
  (relu3): ReLU()
  (output): Linear(in_features=8, out_features=1, bias=True)
  (sigmoid): Sigmoid()
)

In [77]:
X_train_tensor=torch.tensor(X_train,dtype=torch.float32)
X_test_tensor=torch.tensor(X_test,dtype=torch.float32)
y_train_tensor=torch.tensor(y_train.values,dtype=torch.float32).view(-1,1)
y_test_tensor=torch.tensor(y_test.values,dtype=torch.float32).view(-1,1)

In [78]:
print(y_train_tensor)

tensor([[0.],
        [0.],
        [1.],
        ...,
        [1.],
        [1.],
        [0.]])

In [79]:
loss_fn=nn.BCELoss()
optimizer=optim.Adam(model.parameters(),lr=0.001)

In [80]:
print(optimizer)

Adam (
Parameter Group 0
    amsgrad: False
    betas: (0.9, 0.999)
    capturable: False
    decoupled_weight_decay: False
    differentiable: False
    eps: 1e-08
    foreach: None
    fused: None
    lr: 0.001
    maximize: False
    weight_decay: 0
)

In [81]:
epoch=1000

for e in range(epoch):
  model.train()
  optimizer.zero_grad()
  prediction=model(X_train_tensor)
  loss=loss_fn(prediction,y_train_tensor)
  loss.backward()
  optimizer.step()
  if (e+1)%50==0:
    print(f"for batch [{e+1}/{epoch}] has loss {loss.item():.4f}")

for batch [50/1000] has loss 0.6015
for batch [100/1000] has loss 0.4694
for batch [150/1000] has loss 0.4383
for batch [200/1000] has loss 0.4105
for batch [250/1000] has loss 0.3718
for batch [300/1000] has loss 0.3410
for batch [350/1000] has loss 0.3289
for batch [400/1000] has loss 0.3236
for batch [450/1000] has loss 0.3190
for batch [500/1000] has loss 0.3147
for batch [550/1000] has loss 0.3104
for batch [600/1000] has loss 0.3063
for batch [650/1000] has loss 0.3026
for batch [700/1000] has loss 0.2984
for batch [750/1000] has loss 0.2944
for batch [800/1000] has loss 0.2908
for batch [850/1000] has loss 0.2872
for batch [900/1000] has loss 0.2830
for batch [950/1000] has loss 0.2790
for batch [1000/1000] has loss 0.2759

In [82]:
model.eval()
with torch.no_grad():
    preds=model(X_test_tensor)
    preds = (preds >= 0.5).float()

y_true=y_test_tensor.numpy()
print(y_true)
y_pred=preds.numpy()
print(y_pred)

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

print("Accuracy:", accuracy_score(y_true, y_pred))
print("Precision:", precision_score(y_true, y_pred))
print("Recall:", recall_score(y_true, y_pred))
print("F1 Score:", f1_score(y_true, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_true, y_pred))

[[0.]
 [0.]
 [0.]
 ...
 [1.]
 [1.]
 [1.]]
[[0.]
 [0.]
 [0.]
 ...
 [1.]
 [0.]
 [0.]]
Accuracy: 0.8515
Precision: 0.6643835616438356
Recall: 0.49363867684478374
F1 Score: 0.5664233576642336
Confusion Matrix:
 [[1509   98]
 [ 199  194]]

In [84]:
from sklearn.model_selection import GridSearchCV
param_grid={"neurons":[16,32,64,128],"layers":[1,2,3],"epochs":[50,100]}
grid=GridSearchCV(estimator=model,param_grid=param_grid,n_jobs=-1,cv=3,verbose=1)
grid_result=grid.fit(X_train,y_train)
print(grid_result.best_score_,grid_result.best_params_)

TypeError: GridSearchCV.__init__() missing 1 required positional argument: 'estimator'

In [87]:
from skorch import NeuralNetClassifier

net = NeuralNetClassifier(
    ChurnANN,
    max_epochs=10,
    lr=0.001,
    batch_size=32,
)

In [88]:
param_grid = {
    "module__input_size": [12],
    "module__neurons": [16, 32, 64],
    "max_epochs": [50, 100],
    "lr": [0.001, 0.0005]
}

grid = GridSearchCV(net, param_grid, cv=3, scoring='accuracy')
grid.fit(X_train.astype('float32'), y_train.astype('float32'))

ValueError:
All the 36 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
36 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sklearn/model_selection/_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.12/dist-packages/skorch/classifier.py", line 170, in fit
    return super(NeuralNetClassifier, self).fit(X, y, **fit_params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 1334, in fit
    self.initialize()
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 920, in initialize
    self._initialize_module()
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 779, in _initialize_module
    self.initialize_module()
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 626, in initialize_module
    module = self.initialized_instance(self.module, kwargs)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 603, in initialized_instance
    return instance_or_cls(**kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
TypeError: ChurnANN.__init__() got an unexpected keyword argument 'neurons'

In [89]:
from skorch import NeuralNetClassifier
import torch.nn as nn
import torch

class ChurnANN(nn.Module):
    def __init__(self, input_size=12, neurons=32):
        super().__init__()
        self.fc1 = nn.Linear(input_size, neurons)
        self.relu1 = nn.ReLU()
        self.fc2 = nn.Linear(neurons, neurons//2)
        self.relu2 = nn.ReLU()
        self.output = nn.Linear(neurons//2, 1)
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = self.relu1(self.fc1(x))
        x = self.relu2(self.fc2(x))
        x = self.sigmoid(self.output(x))
        return x

net = NeuralNetClassifier(
    ChurnANN,
    optimizer=torch.optim.Adam,
    criterion=nn.BCELoss,
    max_epochs=10,
    batch_size=32,
)

param_grid = {
    "module__input_size": [12],
    "module__neurons": [16, 32, 64],
    "max_epochs": [50, 100],
    "lr": [0.001, 0.0005]
}

grid = GridSearchCV(net, param_grid, cv=3, scoring='accuracy')
grid.fit(X_train.astype("float32"), y_train.astype("float32"))

ValueError:
All the 36 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
36 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sklearn/model_selection/_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.12/dist-packages/skorch/classifier.py", line 170, in fit
    return super(NeuralNetClassifier, self).fit(X, y, **fit_params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 1336, in fit
    self.partial_fit(X, y, **fit_params)
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 1295, in partial_fit
    self.fit_loop(X, y, **fit_params)
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 1207, in fit_loop
    self.run_single_epoch(iterator_train, training=True, prefix="train",
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 1243, in run_single_epoch
    step = step_fn(batch, **fit_params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 1122, in train_step
    self._step_optimizer(step_fn)
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 1077, in _step_optimizer
    optimizer.step(step_fn)
  File "/usr/local/lib/python3.12/dist-packages/torch/optim/optimizer.py", line 517, in wrapper
    out = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/torch/optim/optimizer.py", line 82, in _use_grad
    ret = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/torch/optim/adam.py", line 226, in step
    loss = closure()
           ^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 1111, in step_fn
    step = self.train_step_single(batch, **fit_params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 1011, in train_step_single
    loss = self.get_loss(y_pred, yi, X=Xi, training=True)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/skorch/classifier.py", line 155, in get_loss
    return super().get_loss(y_pred, y_true, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/skorch/net.py", line 1696, in get_loss
    return self.criterion_(y_pred, y_true)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/torch/nn/modules/module.py", line 1775, in _wrapped_call_impl
    return self._call_impl(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/torch/nn/modules/module.py", line 1786, in _call_impl
    return forward_call(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/torch/nn/modules/loss.py", line 727, in forward
    return F.binary_cross_entropy(
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/torch/nn/functional.py", line 3517, in binary_cross_entropy
    raise ValueError(
ValueError: Using a target size (torch.Size([32])) that is different to the input size (torch.Size([32, 1])) is deprecated. Please ensure they have the same size.

In [ ]:

        # evaluate accuracy
        # update best score